[remote "vim-scripts"]
    url = git@github.com:vim-scripts/bash-support.vim.git
    fetch = +refs/heads/*:refs/remotes/vim-scripts/*
[push]
    remote = origin
[gsync]
    remote = vim-scripts
    branch = master
